# Wine

Conduct a feature engineering analysis on the wine quality dataset to create new features that better explain wine quality variations. How do these engineered features impact model performance

In [1]:
#import libraries
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [7]:
df=pd.read_csv('Wine.csv')
df.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [8]:
df.describe()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Wine                  178 non-null    int64
 1   Alcohol               178 non-null    float64
 2   Malic.acid            178 non-null    float64
 3   Ash                   178 non-null    float64
 4   Acl                   178 non-null    float64
 5   Mg                    178 non-null    int64
 6   Phenols               178 non-null    float64
 7   Flavanoids            178 non-null    float64
 8   Nonflavanoid.phenols  178 non-null    float64
 9   Proanth               178 non-null    float64
 10  Color.int             178 non-null    float64
 11  Hue                   178 non-null    float64
 12  OD                    178 non-null    float64
 13  Proline               178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [21]:
#checking for null values
df.isnull().sum()

Wine                    0
Alcohol                 0
Malic.acid              0
Ash                     0
Acl                     0
Mg                      0
Phenols                 0
Flavanoids              0
Nonflavanoid.phenols    0
Proanth                 0
Color.int               0
Hue                     0
OD                      0
Proline                 0
dtype: int64

In [24]:
# Create a new feature for the interaction between alcohol and pH.
df['interaction_between_alcohol_and_pH'] = df['Alcohol'] * df['Malic.acid']
print(df)

     Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
0       1    14.23        1.71  2.43  15.6  127     2.80        3.06
1       1    13.20        1.78  2.14  11.2  100     2.65        2.76
2       1    13.16        2.36  2.67  18.6  101     2.80        3.24
3       1    14.37        1.95  2.50  16.8  113     3.85        3.49
4       1    13.24        2.59  2.87  21.0  118     2.80        2.69
..    ...      ...         ...   ...   ...  ...      ...         ...
173     3    13.71        5.65  2.45  20.5   95     1.68        0.61
174     3    13.40        3.91  2.48  23.0  102     1.80        0.75
175     3    13.27        4.28  2.26  20.0  120     1.59        0.69
176     3    13.17        2.59  2.37  20.0  120     1.65        0.68
177     3    14.13        4.10  2.74  24.5   96     2.05        0.76

     Nonflavanoid.phenols  Proanth  Color.int   Hue    OD  Proline  \
0                    0.28     2.29       5.64  1.04  3.92     1065
1                    0.26     1.28       4.38  1.05  3.40     1050
2                    0.30     2.81       5.68  1.03  3.17     1185
3                    0.24     2.18       7.80  0.86  3.45     1480
4                    0.39     1.82       4.32  1.04  2.93      735
..                    ...      ...        ...   ...   ...      ...
173                  0.52     1.06       7.70  0.64  1.74      740
174                  0.43     1.41       7.30  0.70  1.56      750
175                  0.43     1.35      10.20  0.59  1.56      835
176                  0.53     1.46       9.30  0.60  1.62      840
177                  0.56     1.35       9.20  0.61  1.60      560

     interaction_between_alcohol_and_pH
0                               24.3333
1                               23.4960
2                               31.0576
3                               28.0215
4                               34.2916
..                                  ...
173                             77.4615
174                             52.3940
175                             56.7956
176                             34.1103
177                             57.9330

[178 rows x 15 columns]

In [27]:
df['ratio_of_ash_to_malic_acid'] = df['Ash'] / df['Malic.acid']
df['ratio_of_flavonoids_to_phenols'] = df['Flavanoids'] / df['Phenols']
df['interaction_between_alcohol_and_MG'] = df['Alcohol'] * df['Mg']
print(df)

     Wine  Alcohol  Malic.acid   Ash   Acl   Mg  Phenols  Flavanoids  \
0       1    14.23        1.71  2.43  15.6  127     2.80        3.06
1       1    13.20        1.78  2.14  11.2  100     2.65        2.76
2       1    13.16        2.36  2.67  18.6  101     2.80        3.24
3       1    14.37        1.95  2.50  16.8  113     3.85        3.49
4       1    13.24        2.59  2.87  21.0  118     2.80        2.69
..    ...      ...         ...   ...   ...  ...      ...         ...
173     3    13.71        5.65  2.45  20.5   95     1.68        0.61
174     3    13.40        3.91  2.48  23.0  102     1.80        0.75
175     3    13.27        4.28  2.26  20.0  120     1.59        0.69
176     3    13.17        2.59  2.37  20.0  120     1.65        0.68
177     3    14.13        4.10  2.74  24.5   96     2.05        0.76

     Nonflavanoid.phenols  Proanth  Color.int   Hue    OD  Proline  \
0                    0.28     2.29       5.64  1.04  3.92     1065
1                    0.26     1.28       4.38  1.05  3.40     1050
2                    0.30     2.81       5.68  1.03  3.17     1185
3                    0.24     2.18       7.80  0.86  3.45     1480
4                    0.39     1.82       4.32  1.04  2.93      735
..                    ...      ...        ...   ...   ...      ...
173                  0.52     1.06       7.70  0.64  1.74      740
174                  0.43     1.41       7.30  0.70  1.56      750
175                  0.43     1.35      10.20  0.59  1.56      835
176                  0.53     1.46       9.30  0.60  1.62      840
177                  0.56     1.35       9.20  0.61  1.60      560

     interaction_between_alcohol_and_pH  ratio_of_ash_to_malic_acid  \
0                               24.3333                    1.421053
1                               23.4960                    1.202247
2                               31.0576                    1.131356
3                               28.0215                    1.282051
4                               34.2916                    1.108108
..                                  ...                         ...
173                             77.4615                    0.433628
174                             52.3940                    0.634271
175                             56.7956                    0.528037
176                             34.1103                    0.915058
177                             57.9330                    0.668293

     ratio_of_flavonoids_to_phenols  interaction_between_alcohol_and_MG
0                          1.092857                             1807.21
1                          1.041509                             1320.00
2                          1.157143                             1329.16
3                          0.906494                             1623.81
4                          0.960714                             1562.32
..                              ...                                 ...
173                        0.363095                             1302.45
174                        0.416667                             1366.80
175                        0.433962                             1592.40
176                        0.412121                             1580.40
177                        0.370732                             1356.48

[178 rows x 18 columns]

# How the feature engineering affect model performance

Feature engineering plays a crucial role in determining the performance of machine learning models. By creating informative and relevant features, feature engineering can significantly impact the accuracy and effectiveness of a model. Here are some ways in which feature engineering affects model performance:

1. Improved predictive power: Feature engineering allows you to extract meaningful information from the raw data and create new features that capture important patterns and relationships. By incorporating domain knowledge and transforming the data appropriately, you can enhance the predictive power of the model. Well-engineered features can highlight relevant patterns, making it easier for the model to learn and make accurate predictions.

2. Noise reduction: The raw data often contains noise, outliers, and irrelevant information. Feature engineering techniques such as outlier detection, scaling, normalization, and handling missing values can help reduce the impact of noise in the data. By removing or minimizing noise, you can improve the signal-to-noise ratio and enable the model to focus on the relevant patterns, leading to better performance.

3. Dimensionality reduction: In many real-world problems, the number of features can be large, leading to the curse of dimensionality. Feature engineering techniques like PCA (Principal Component Analysis), feature selection, and feature extraction can reduce the dimensionality of the data while preserving important information. Dimensionality reduction can help overcome issues such as overfitting, improve computational efficiency, and enhance model generalization.

4. Handling non-linearity: Some machine learning models, such as linear regression or logistic regression, assume linearity between the features and the target variable. Feature engineering can transform the data by applying mathematical functions (e.g., logarithm, square root) or creating interaction terms to capture non-linear relationships. By incorporating non-linear transformations, the model can better capture complex patterns and improve its performance.

5. Addressing categorical variables: Categorical variables, such as gender or product categories, need to be encoded into numerical values for most machine learning algorithms. Feature engineering techniques like one-hot encoding, label encoding, or target encoding can effectively represent categorical variables in a way that the model can understand. Proper encoding can prevent the model from assigning incorrect ordinality to categorical variables and improve its ability to learn from these features.

6. Time-series feature engineering: In time-series analysis, feature engineering becomes crucial in capturing temporal patterns and dependencies. Creating lagged features, rolling statistics, or time-based aggregations can help the model capture trends, seasonality, and other time-related patterns. Time-series feature engineering can significantly enhance the model's ability to make accurate predictions in forecasting or anomaly detection tasks.